<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>806716822443-j2l524h0uj7v2880071nplcqi4ks972l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.806716822443-j2l524h0uj7v2880071nplcqi4ks972l</string>
	<key>API_KEY</key>
	<string>AIzaSyC6YPX210vK6A2iJdrhDu0xTkElF6j1R4w</string>
	<key>GCM_SENDER_ID</key>
	<string>806716822443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.courses</string>
	<key>PROJECT_ID</key>
	<string>iti-task-632f8</string>
	<key>STORAGE_BUCKET</key>
	<string>iti-task-632f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:806716822443:ios:939580c5cbc1e1e00d38ee</string>
</dict>
</plist>